Repository Lightning-AI/LitServe, pull requests merged in 2024-08, with the labels that each got.

#185 Add warning message if `batch` and `unbatch` is implemented but max_batch_size is unset.
  src/litserve/server.py
  tests/test_batch.py
Labels: enhancement

#183 add fastapi parity test
  .github/workflows/ci-parity.yml
  _requirements/test.txt
  tests/parity_fastapi/benchmark.py
  tests/parity_fastapi/fastapi-server.py
  tests/parity_fastapi/ls-server.py
  tests/parity_fastapi/main.py
Labels: ci / tests

#205 Enable parity test for GPU
  .azure/gpu-tests.yml
  tests/parity_fastapi/benchmark.py
  tests/parity_fastapi/fastapi-server.py
  tests/parity_fastapi/ls-server.py
  tests/parity_fastapi/main.py
Labels: ci / tests

#206 add classical ML examples
  README.md
Labels: documentation

#219 Fix flaky test
  .github/workflows/ci-parity.yml
  tests/parity_fastapi/benchmark.py
  tests/parity_fastapi/fastapi-server.py
  tests/parity_fastapi/ls-server.py
  tests/parity_fastapi/main.py
Labels: ci / tests

#220 Enable batch-unbatch by default
  src/litserve/api.py
  tests/test_litapi.py
Labels: enhancement

#238 test `collate_request` w batch_timeout and batch_size
  src/litserve/server.py
  tests/test_batch.py
Labels: ci / tests

#246 fix readme code sanity check
  README.md
Labels: bug, ci / tests

#241 feat: middlewares and exception handlers in LitServer.
  src/litserve/server.py
  tests/test_lit_server.py
Labels: enhancement

#248 test LitServer.run
  src/litserve/server.py
  tests/test_lit_server.py
Labels: ci / tests

#250 fix flaky test_collate_requests
  tests/test_batch.py
Labels: ci / tests

#253 add Starlette middleware support
  src/litserve/server.py
  tests/test_lit_server.py
Labels: enhancement, ci / tests

#254 Add test for `litserve.examples`
  src/litserve/examples/openai_spec_example.py
  src/litserve/examples/simple_example.py
  tests/test_examples.py
Labels: ci / tests

#256 add `litserve.connector` tests
  tests/test_connector.py
Labels: ci / tests
